.performers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.performer-card {
    box-sizing: border-box;
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.performer-photo {
    max-width: 100%;
    height: auto;
}

.performer-name {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10px;
}

.performer-description {
    font-size: 1rem;
    margin-top: 10px;
}

.performer-social-media {
    color: #007bff;
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 10px;
}

