body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #c9f3cd;
    border: 5px solid #006400;
    border-radius: 10px;
    padding: 20px;
}

header {
    text-align: center;
}

h1 {
    color: #006400; /* Dark green font color */
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

a {
    display: inline-block; /* Ensures the entire link is clickable and has a background */
    background-color: #006400;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none; /* Remove the default underline for anchor elements */
}

a:hover {
    background-color: #004d00; /* Darken the background on hover */
}


.content {
    display: flex;
    justify-content: space-between;
}

.left-column,
.right-column {
    flex: 1;
}

.box {
    background-color: #006400;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}


#map_container {
    width: 80%;
    height: 60vh;
    border: thin solid var(--ink);
    margin: 0 auto;
}

form {
    width: 30rem;
}

form label,
form button,
form textarea,
form input {
    display: block;
    margin-bottom: 1rem;
}

form input,
form textarea {
    width: 100%
}

form textarea {
    height: 5rem;
}

form input[type=checkbox],
form input[type=radio] {
    display: inline;
    width: auto;
    margin-bottom: 0.5rem;
}

form input[type=text],
form input[type=date],
form input[type=email],
form input[type=number],
form textarea {
    font-size: 1.25rem;
}

form label:has(input[type=radio]),
form label:has(input[type=checkbox]) {
    margin-bottom: 0;
}

form fieldset {
    margin-bottom: 1rem;
}

form button[type=submit] {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

a:link,
a:visited {
    color: rgb(166, 255, 0);
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}


footer {
    margin-top: auto;
    text-align: center;
}
