* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Adding a light background color */
}

.centered-video {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align to the bottom */
    height: 60vh; /* Adjust the height as needed */
    background-color: #fff; /* White background */
    border: 2px solid #ddd; /* Adding a border */
    border-radius: 10px;
    margin: 20px;
    overflow: hidden; /* Hide overflow content */
}

.centered-video iframe {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    transform: translateY(50%); /* Move the iframe upward by 50% of its height */
}


/* Form Styles */
form {
    width: 30rem;
    margin: auto; /* Center the form */
    background-color: #fff; /* White background */
    padding: 2rem;
    border: 2px solid #ddd; /* Adding a border */
    border-radius: 10px;
}

form label,
form button,
form textarea,
form input {
    display: block;
    margin-bottom: 1rem;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd; /* Thicker border */
}

form textarea {
    height: 5rem;
}

form input[type=checkbox],
form input[type=radio] {
    display: inline;
    width: auto;
    margin-bottom: 0.5rem;
}

form input[type=text],
form input[type=date],
form input[type=email],
form input[type=number],
form textarea {
    font-size: 1rem; /* Adjusted font size */
}

form label:has(input[type=radio]),
form label:has(input[type=checkbox]) {
    margin-bottom: 0;
}

form fieldset {
    margin-bottom: 1rem;
}

form button[type=submit] {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #007bff; /* Button color */
    color: #fff; /* Text color */
    cursor: pointer;
    border: none; /* Remove button border */
}

/* Additional Styles for Homepage Sections */
.layout-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screen-section,
.carousel-section,
.image-section {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff; /* White background for sections */
    border-radius: 10px;
}

.screen-section iframe,
.carousel img,
.image-section img {
    max-width: 100%;
    height: auto;
}

.text-space {
    margin-top: 10px;
    font-style: italic;
}

